@import './colors.scss';

body, input, button, textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: $c_text_primary;
}

body {
  background: $c_bg_secondary;
  background-image: radial-gradient(#555 1px, transparent 0);
  background-size: 40px 40px;
}
